@media (max-width: 1350px){
    .texte{
        position: relative;
        top: 40px;
        padding: 0 15px;
    }
    .fond{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.534);
    }
    .texte p{
        color: #fff;
        font-size: 1em;
    }
    #cta{
        top: 70%;
    }
    nav{
        margin-top: 10px;
    }
}
@media (max-width: 920px){
    #cta{
        top: 70%;
    }
}
@media (max-width: 850px){
    #cta{
        top: 40%;
    }
}
@media (max-width: 740px){
    header{
        width: 100%;
        height: 100%;
    }
    .texte{
        padding: 0 15px;
    }
    .texte h1{
        font-size: 2.8em;
    }
    #cta{
        top: 48%;
    }
}
@media (max-width: 588px){
    .texte{
        padding: 0 15px;
    }
    .texte h1{
        font-size: 2.8em;
    }
    .caroussel{
        display: none;
    }
    #cta{
        top: 48%;
    }
}
@media (max-width: 460px){
    .texte{
        padding: 0 15px;
    }
    .texte h1{
        font-size: 1.5em;
    }
    #cta{
        top: inherit;
        bottom: 23%;
    }
}
@media (max-width: 290px){
    #cta{
        top: 25%;
    }
}